<div class="navbar-wagon">
  <%= link_to "Home", restaurants_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Reviews", "#", class: "navbar-wagon-item navbar-wagon-link" %>
  <%= link_to "Add New Restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
</div>
